@import "../../shared/assets/fonts/stylesheet.css";
@import "./reset.scss";
@import "./variables/global.scss";

.app {
  min-height: 100vh;
  font-family: Futura PT;
  background: #EBEBF0;
}

* {
  transition: all 0.3s ease-in-out;
}

