.title {
  text-align: center;
  margin-bottom: 17px;
  color: var(--secondary-color);
  font-size: 34px;
  font-weight: 600;
}

.input {
  margin-bottom: 8px;
  width: 100%;
}

.select {
  border-radius: 10px;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}