.TextField {
  padding: 7px 13px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--border-color);
}

.error {
  border: 2px solid red;
  &:focus {
    outline: 1px solid red;
  }
}