.title {
  font: var(--font-l);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 29px;
  border-bottom: 1px solid rgb(228, 227, 227);
}

.search {
  &_icon {
    margin-right: 20px;
  }
  &_block {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.list {
  padding: 19px 29px;
}
